*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Open Sans", Arial, sans-serif;
  overflow-x: hidden;
}

main{
  overflow: hidden;
  background-color: #F8F8F0;
}

#home{
  height: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

#topvideo{
  display: none;
}

.red{
  color: #DD3924 !important;
}

nav{
  overflow:hidden;
  padding: 20px;
}

nav img{
  float: left;
}

nav a{
  float: right;
  display: block;
  color: #FFF;
  text-align: left;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  transition: all 0.4s ease;
}

nav a:hover{
  color:#DD3924;
}

nav ul{
  margin-top: 8px;
  list-style: none;
}

.nav-logo{
  height: auto;
}

.btn-mobile-menu{
  z-index: 400;
  position: absolute;
  display: none;
  right: 4px;
  top: 4px;
}

#mobile-menu{
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 300;
  margin-right: -200px;
  top: 0;
  right: 0;
  background-color: #354765;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#mobile-menu a{
  width: 150px;
  padding: 15px 30px 15px 20px;
  color: #FFF;
  text-decoration: none;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  display: block;
  transition: 0.3s;
}

#mobile-menu a:hover{
  background-color: rgba(255,255,255,0.1);
}

.banner-overlay{
  top: 0;
  left: 0;
  color: #FFF;
  z-index: 10;
  position: relative;
  text-align: center;
}

.banner-overlay h1{
  padding: 1.4em 0 0.4em 0;
}

.banner-overlay h3{
  display: none;
}

.btn-red{
  background-color: #DD3924;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

#values{
  margin: 0 auto;
  background-color: #F8F8F0;
}

.values-icon-container{
  text-align: center;
  z-index: 400;
  display: flex;
  color: #000;
  width: 100%;
}

.one-third{
  flex: 33.33%;
}

.values-icon{
  display: inline-block;
  border: solid 1px #dd3924;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s;
}

.values-icon-small{
  margin-top: 12px;
  display: inline-block;
  border: solid 1px #C7C7C7;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s;
}

.icon-1{
  background-image: url('media/icon-flame.svg');
  background-size: 42%;
}

.icon-1-small{
  background-image: url('media/icon-flame-small.svg');
  background-size: 42%;
}

.icon-2{
  background-image: url('media/icon-arrow.svg');
  background-size: 50%;
}

.icon-2-small{
  background-image: url('media/icon-arrow-small.svg');
  background-size: 50%;
}

.icon-3{
  background-image: url('media/icon-lightbulb.svg');
  background-size: 50%;
}

.icon-3-small{
  background-image: url('media/icon-lightbulb-small.svg');
  background-size: 50%;
}

/* ---------- PROJECTS SECTION ---------- */

#projects{
  text-align: center;
  background-image: url('media/background-pattern.png');
  background-color: #F8F8F0;
}

.shape{
  position: relative;
  margin: -5px 0 30px 0;
  z-index: 20;
  width: 100%;
  float: left;
  top: 0;
  left: 0;
}

#projects h2{
  color: #676767;
}

#projects h3{
  font-weight: 400;
  color: #DD3924;
}

#projects img{
  max-width: 100%;
}

#projects p{
  color: #676767;
}

#projects picture img{
  max-width: 100%;
}

.last{
  margin-bottom: 10px !important;
}

.project-hr{
  border: 0;
  height: 2px;
  position:relative;
  background: -moz-linear-gradient(left, rgba(221,57,36,0) 0%, rgba(221,57,36,0) 5%, rgba(221,57,36,0.65) 50%, rgba(221,57,36,0) 95%, rgba(221,57,36,0) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(left, rgba(221,57,36,0) 0%,rgba(221,57,36,0) 5%,rgba(221,57,36,0.65) 50%,rgba(221,57,36,0) 95%,rgba(221,57,36,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(221,57,36,0) 0%,rgba(221,57,36,0) 5%,rgba(221,57,36,0.65) 50%,rgba(221,57,36,0) 95%,rgba(221,57,36,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(221,57,36,0) 0%,rgba(221,57,36,0) 5%,rgba(221,57,36,0.65) 50%,rgba(221,57,36,0) 95%,rgba(221,57,36,0) 100%); /* IE10+ */
  background: linear-gradient(left, rgba(221,57,36,0) 0%,rgba(221,57,36,0) 5%,rgba(221,57,36,0.65) 50%,rgba(221,57,36,0) 95%,rgba(221,57,36,0) 100%); /* W3C */
}

.project-hr:before {
  content: "";
  display: block;
  border-top: solid 1px rgba(221,57,36,0);
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

/* ---------- QUOTE SECTION ---------- */

#citations{
  background-color: #F8F8F0;
  color: #676767;
  text-align: center;
  margin: -10px 0 0 0;
}

.quote-container{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.person-img{
  flex: 2vw;
  text-align: left;
}

.person-info{
  flex: 70%;
  padding-left: 15px;
  text-align: left;
}

.right{
  text-align: right;
  padding: 0 15px 0 0;
}

.person-quote{
  flex: 100%;
}

.quote-container h3{
  color: #DD3924;
  padding: 4px 0 4px 0;
}

.quote-container h4{
  color: #676767;
  font-weight: 700;
}

.person-quote p{
  text-align: left;
  color: #676767;
  padding-top: 10px;
}

.footer-shape{
  width: 100%;
}

/* ---------- FOOTER SECTION ---------- */

footer{
  background-color: #354765;
  text-align: center;
  color: #FFF;
  margin-top: -10px;
  font-size: 15px;
}

.footer-contact{
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.footer-nav a{
  text-decoration: none;
  color: #FFF;
  display: block;
  font-weight: 700;
  line-height: 40px;
}

.footer-social img{
  padding-top: 15px;
  margin: 0 15px;
  width: 60px;
  height: 60px;
}

.footer-copyright{
  font-size: 12px;
}

/* ---------- PORTFOLIO SECTION ---------- */

#portfolio{
  height: 0;
  background-color: #F8F8F0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

#portfolio-content{
  background-color: #F8F8F0;
  padding-top: 20px;
}

.tags{
  display: flex;
  flex-wrap: wrap;
}


  .tags a{
    flex: 33%;
    text-decoration: none;
    color: #676767;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    padding: 15px 0;
    border-right: 1px solid #DD3924;
  }

  .tags a:hover{
    background-color: #EFB4AD;
  }

  .active-tag{
    background: #DD3924;
    color: #FFF !important;
  }

  .last-tag{
    border: none !important;
  }

  .gallery-container {
    max-width: 100%;
    margin: 20px auto 0 auto;
  }

  .gallery-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    padding: 0;
  }

  .gallery-images div{
    overflow: hidden;
  }

  .gallery-images div img{
    display: block;
    float: left;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
  }

  .text-overlay{
    position: absolute;
    text-align: center;
    color: #FFF;
    z-index: 200;
    font-weight: 700;
    color: #F8F8F0;
  }

  .gallery-images div::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, transparent 0%, #000 100%);
    width: 100%;
    vertical-align: bottom;
    content: '';
  }

  /** ------ ABOUT PAGE ------- **/

  #about{
    height: 0;
    background-color: #F8F8F0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }

  #who-am-i{
    text-align: center;
    margin: 0 auto;
    color: #676767;
  }

  .redbox{
    width: 100%;
    border: 1px solid #DD3924;
  }

  .redbox h3{
    background-color: #F8F8F0;
    margin: -15px auto 0 auto;
    color: #DD3924;
    width: 170px;
  }

  .redbox p{
    font-size: 16px;
    line-height: 27px;
    text-align: left;
  }










/* Every iPhone from iPhone 4 to iPhone X */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 767px) {

    main{
      background-color: #F8F8F0;
    }

    #home{
      background-image: url('media/banner-home-small.jpg');
      padding-bottom: 94%;
    }

    .navbar{
      display: none;
    }

    .btn-mobile-menu{
      display:block;
    }

    .nav-logo{
      width: 110px;
    }

    .btn-mobile-menu-container{
        display: inline-block;
        cursor: pointer;
        padding: 0 22px;
        margin-top: 15px;
    }

    .line1, .line2, .line3 {
        width: 34px;
        height: 4px;
        background-color: #FFF;
        margin: 7px 0;
        transition: 0.4s;
    }

    .change .line1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 7px);
        transform: rotate(-45deg) translate(-9px, 7px);
    }

    .change .line2 {opacity: 0;}

    .change .line3 {
        -webkit-transform: rotate(45deg) translate(-8px, -7px);
        transform: rotate(45deg) translate(-8px, -7px);
    }

    .banner-overlay h1{
      font-size: 30px;
    }

    .btn-red{
      padding: 14px 28px;
      font-size: 16px;
    }

    /* ---------- VALUE SECTION ---------- */

    #values{
      height: 190px;
      padding-top: 10px;
    }

    .values-icon{
      width: 60px;
      height: 60px;
      border-radius: 60px;
    }

    .values-icon-small{
      width: 34px;
      height: 34px;
      border-radius: 34px;
    }

    .value-content{
      width: 90%;
      margin-left: 6%;
      position: absolute;
      z-index: 100;
    }


    .value-content h3{
      font-size: 22px;
      color: #DD3924;
      text-align: center;
      font-weight: 400;
      margin: 12px 0 15px 0;
    }

    .value-content p{
      font-size: 15px;
      color: #848484;
      font-weight: 400;
    }

    #value1{
      opacity: 1;
      transition: 0.6s;
    }

    #value2, #value3{
      opacity: 0;
      transition: 0.6s;
    }

    /* ---------- PROJECTS SECTION ---------- */

    #projects h2{
      font-size: 30px;
    }

    #projects h3{
      font-size: 24px;
      margin-bottom: 15px;
    }

    #projects p{
      font-size: 15px;
      margin-bottom: 20px;
    }

    #projects .btn-red{
      margin-top: 20px;
    }

    .project-element{
      margin: 45px 0;
      padding: 0 6%;
    }

    /* ---------- QUOTE SECTION ---------- */

    #citations h2{
      font-size: 30px;
      padding: 30px 0 10px 0;
    }

    .quote-container{
      width: 90%;
      margin: 40px auto;
    }

    .quote-container h3{
      font-size: 18px;
    }

    .quote-container h4{
      font-size: 13px;
    }

    .person-quote p{
      font-size: 16px;
      line-height: 25px;
    }

    /* ---------- FOOTER SECTION ---------- */

    footer hr{
      background-color: #FFF;
      height: 3px;
      margin: 30px 100px;
    }

    footer h2{
      text-align: center;
      padding-bottom: 10px;
    }

    .footer-contact{
      padding-top: 30px;
    }

    .footer-social{
      margin-bottom: 50px;
    }

    .footer-copyright{
      padding-bottom: 40px;
    }

    /* ---------- PORTFOLIO PAGE ---------- */

    #portfolio{
      background-image: url('media/banner-portfolio-small.jpg');
      padding-bottom: 94%;
    }

    .tags a{
      font-size: 14px;
    }

    .gallery-container {
      max-width: 100%;
      margin: 20px auto 0 auto;
    }

    .gallery-images div{
      width: calc(100%/2 - 2px);
      height: calc(100%/2);
      padding: 2px 0;
    }

    .gallery-images div:nth-child(odd) {
      padding-right: 4px;
    }

    .text-overlay{
      width: 49.2vw;
      margin-top: 42.5vw;
      font-size: 3vw;
    }

    .gallery-images div::after {
      height: 14vw;
      margin-top: 35.5vw;
    }

    /* ---------- ABOUT PAGE ---------- */

    #about{
      background-image: url('media/banner-about-small.jpg');
      padding-bottom: 94%;
    }

    #who-am-i{
      width: 90%;
    }

    #who-am-i h2{
      font-size: 30px;
      margin: 20px 0 10px 0;
    }

    .redbox{
      margin: 40px auto 0 auto;
    }

    .redbox p{
      padding: 20px 20px 25px 22px;
    }

}














/* ----------- Tablets (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #home{
    background-image: url('media/banner-home-medium.jpg');
    padding-bottom: 74%;
  }

  nav{
    padding: 30px;
  }

  nav a{
    padding: 0 30px;
  }

  .nav-logo{
    width: 160px;
  }

  .banner-overlay h1{
    font-size: 60px;
  }

  .btn-red{
    padding: 24px 44px;
    font-size: 20px;
  }

  .subhead{
    font-size: 24px;
    line-height: 34px;
    padding: 35px 20px 40px 20px;
  }

  .no-margin{
    margin: 0 !important;
  }

  /* ---------- VALUE SECTION ---------- */

  #values{
    width: 95%;
    height: 310px;
    padding-top: 40px;
  }

  .values-icon{
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }

  .values-icon-small{
    width: 68px;
    height: 68px;
    border-radius: 68px;
  }

  .value-content{
    width: 33.33%;
    float: left;
    display: block;
    z-index: 100;
  }

  .value-content h3{
    font-size: 22px;
    color: #DD3924;
    text-align: center;
    font-weight: 400;
    margin: 12px 0 15px 0;
  }

  .value-content p{
    font-size: 15px;
    padding: 0 15px;
    text-align: center;
    color: #848484;
    font-weight: 400;
  }

  /* ---------- PROJECTS SECTION ---------- */

  #projects h2{
    font-size: 54px;
    margin-bottom: 70px;
  }

  #projects h3{
    font-size: 34px;
    margin-bottom: 25px;
  }

  #projects p{
    font-size: 22px;
    margin-bottom: 30px;
  }

  #projects .btn-red{
    margin-top: 40px;
  }

  .project-element{
    margin: 80px 0;
    padding: 0 10%;
  }

  /* ---------- QUOTE SECTION ---------- */

  #citations{
    width: 100%;
    margin: 0 auto;
  }

  #citations h2{
    font-size: 54px;
    padding-top: 30px;
  }

  .quote-container{
    width: 36%;
    margin-top: 80px;
    padding: 0 7%;
    float: left;
  }

  .quote-hr{
    display: none;
  }

  .quote-container h3{
    font-size: 22px;
  }

  .quote-container h4{
    font-size: 15px;
  }

  .person-quote p{
    font-size: 17px;
    line-height: 30px;
  }

  /* ---------- FOOTER SECTION ---------- */

  footer{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
  }

  footer h2{
    text-align: center;
    padding-bottom: 10px;
  }

  .footer-contact{
    flex: 33%;
    text-align: left;
  }

  .footer-contact p{
    padding-left: 50px;
  }

  .footer-nav{
    flex: 33%;
  }

  .footer-social{
    flex: 33%;
  }

  .footer-copyright{
    text-align: center;
    margin: 40px auto;
  }

  /* ---------- PORTFOLIO PAGE ---------- */

  #portfolio{
    background-image: url('media/banner-portfolio-medium.jpg');
    padding-bottom: 74%;
  }

  .tags a{
    font-size: 17px;
  }

    .gallery-images div{
      width: calc(100%/3 - 2.75px);
      height: calc(100%/3);
      padding: 2px;
    }

    .gallery-images div:nth-child(3n-5) {
      padding: 2px 2px 2px 0;
    }

    .gallery-images div:nth-child(3n+3) {
      padding: 2px 0 2px 2px;
    }

    .text-overlay{
      width: 33vw;
      margin-top: 28.5vw;
      font-size: 2vw;
    }

    .gallery-images div::after {
      height: 12vw;
      margin-top: 21vw;
    }


  /* ---------- ABOUT PAGE ---------- */

  #about{
    background-image: url('media/banner-about-medium.jpg');
    padding-bottom: 74%;
  }

  #who-am-i{
    width: 80%;
  }

  #who-am-i h2{
    font-size: 54px;
    margin-top: 30px;
  }

  .redbox{
    margin: 60px auto 0 auto;
  }

  .redbox p{
    padding: 30px 50px 35px 52px;
  }
}

















/* ----------- Laptops and desktops ----------- */
@media only screen and (min-device-width: 1025px){
  #home{
    background-image: url('media/banner-home-medium.jpg');
  }

  #topvideo{
    display: block;
  }

  .topvideo {
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    position: absolute;
  }

  .full-bg-video {
    top: 0;
    left: 0;
    width: 100%;
  }

  .video-overlay{
    top: 0;
    left: 0;
    color: #FFF;
    z-index: 10;
    position: absolute;
    text-align: center;
    width: 100%;
  }

.front-animation nav{
  -webkit-animation: dropdown 2500s steps(20) 1;
  -webkit-animation-delay: 3.5s;
  -moz-animation: dropdown 2500s steps(20) 1;
  -moz-animation-delay: 3.5s;
  animation: dropdown 2500s steps(20) 1;
  animation-delay: 3.5s;
  margin-top: -100px;
  opacity: 0;
}

  nav{
    padding: 25px;
  }

  .nav-logo{
    width: 180px;
  }

  nav a{
    padding: 0 35px;
    border-right: 1px solid white;
  }

  .btn-red{
    z-index: 900;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .btn-red:hover{
    background-color: #C91D06;
    transform: scale(1.12);
  }

.front-animation .banner-overlay h1{
    -webkit-animation: textfade 2500s steps(20) 1;
    -webkit-animation-delay: 4s;
    -moz-animation: textfade 2500s steps(20) 1;
    -moz-animation-delay: 4s;
    animation: textfade 2500s steps(20) 1;
    animation-delay: 4s;
    opacity: 0;
  }

.banner-overlay h1{
      font-size: 6.4vw;
      margin-top: 20px;
      padding: 1.1em 0 0 0;
    }

  @-webkit-keyframes textfade {
  	0% { opacity: 0;}
    0.1% { opacity: 1;}
    100% { opacity: 1;}
  }

  @-webkit-keyframes dropdown {
  	0% {  opacity: 0; margin-top: -100px;}
    0.025% {opacity: 1; margin-top: 0;}
    100% { opacity: 1; margin-top: 0;}
  }

  .banner-overlay h3{
    display: block;
    font-size: 1.6vw;
    font-weight: 300;
    margin: 25px 0 40px 0;
  }

  .front-animation .banner-overlay h3{
    -webkit-animation: textfade 2500s steps(20) 1;
    -webkit-animation-delay: 6s;
    -moz-animation: textfade 2500s steps(20) 1;
    -moz-animation-delay: 6s;
    animation: textfade 2500s steps(20) 1;
    animation-delay: 6s;
    opacity: 0;
  }

  .btn-red{
    padding: 20px 44px;
    font-size: 20px;
  }

  .front-animation .btn-red{
    -webkit-animation: textfade 2500s steps(20) 1;
    -webkit-animation-delay: 7s;
    -moz-animation: textfade 2500s steps(20) 1;
    -moz-animation-delay: 7s;
    animation: textfade 2500s steps(20) 1;
    animation-delay: 7s;
    opacity: 0;
  }

  .subhead{
    font-size: 24px;
    line-height: 34px;
    padding: 35px 20px 40px 20px;
  }

  .no-margin{
    margin: 0 !important;
  }

  .video-shape{
    position: relative;
    margin: -5px 0 30px 0;
    z-index: 20;
    width: 100%;
    float: left;
    top: 0;
    left: 0;
  }

  .shape{
    display: none;
  }

  /* ---------- VALUE SECTION ---------- */

  #values{
    position: absolute;
    margin-top: 56.5vw;
    width: 100%;
    background-color: none;
    z-index: 300;
  }

  .values-icon{
    width: 82px;
    height: 82px;
    border-radius: 82px;
  }

  .values-icon-small{
    width: 68px;
    height: 68px;
    border-radius: 68px;
  }

  .value-content{
    width: 33.33%;
    float: left;
    display: block;
    z-index: 100;
  }

  .value-content h3{
    font-size: 22px;
    color: #DD3924;
    text-align: center;
    font-weight: 400;
    margin: 12px 0 15px 0;
  }

  .value-content p{
    font-size: 15px;
    line-height: 24px;
    padding: 0 60px;
    text-align: center;
    color: #848484;
    font-weight: 400;
  }

  /* ---------- PROJECTS SECTION ---------- */

  #projects{
    background-size: 300px 300px;
    background-attachment: fixed;
  }

  #projects h2{
    font-size: 80px;
    margin: 1000px 0 70px 0;
  }

  #projects h3{
    font-size: 46px;
    margin-bottom: 25px;
  }

  #projects p{
    font-size: 22px;
    margin-bottom: 30px;
  }

  #projects .btn-red{
    margin-top: 60px;
    padding: 24px 70px;
  }



  .project-element{
    margin: 110px 0;
    padding: 0 22%;
  }

  .footer-shape{
    margin-top: -100px;
    z-index: -10;
  }

  /* ---------- QUOTE SECTION ---------- */

  #citations{
    width: 100%;
    margin: 0 auto;
    margin: -15px 0 0 0;
  }

  #citations h2{
    font-size: 80px;
    padding-top: 10px;
  }

  .quote-container{
    width: 36%;
    margin-top: 80px;
    padding: 0 7%;
    float: left;
  }

  .quote-hr{
    display: none;
  }

  .quote-container h3{
    font-size: 22px;
  }

  .quote-container h4{
    font-size: 15px;
  }

  .person-quote p{
    font-size: 17px;
    line-height: 30px;
  }

  /* ---------- FOOTER SECTION ---------- */

  footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
  }

  footer h2{
    text-align: center;
    padding-bottom: 10px;
  }

  .footer-contact{
    flex: 33%;
    text-align: left;
  }

  .footer-contact p{
    text-align: center;
  }

  .footer-nav{
    flex: 33%;
  }

  .footer-nav a{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 120px;
    margin: 0 auto;
  }

  .footer-nav a:hover{
    color: #DD3924;
  }


  .footer-social{
    flex: 33%;
  }

  .footer-social img{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .footer-social img:hover{
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 20px #000);
  }

  .footer-copyright{
    text-align: center;
    margin: 60px auto 50px auto;
  }

  /* ---------- PORTFOLIO PAGE ---------- */

  #portfolio{
    background-image: url('media/banner-portfolio.jpg');
    padding-bottom: 56%;
  }

  .tags {
    width: 80%;
    margin: 0 auto 60px auto;
  }


  .tags a{
    flex: 12%;
    text-decoration: none;
    color: #676767;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    padding: 15px 0;
    border-right: 1px solid #DD3924;
  }

    .gallery-images div{
      width: calc(100%/3 - 2.75px);
      height: calc(100%/3);
      margin: 2px;
      transition: all 0.3s ease-in-out;
    }

    .gallery-images div:hover{
      filter: saturate(180%);
    }

    .gallery-images div:nth-child(3n-5) {
      margin: 2px 2px 2px 0;
    }

    .gallery-images div:nth-child(3n+3) {
      margin: 2px 0 2px 2px;
    }

    .text-overlay{
      width: 33.2vw;
      margin-top: 29vw;
      font-size: 1.5vw;
      font-weight: 400;
    }

    .gallery-images div::after {
      height: 10vw;
      margin-top: 23.2vw;
    }

    .gallery-images div img{
      transition: all 0.3s ease-in-out;
    }

    .gallery-images div img:hover{
      transform: scale(1.12);
    }

  /* ---------- ABOUT PAGE ---------- */

  #about{
    background-image: url('media/banner-about.jpg');
    padding-bottom: 56%;
  }

  .about-banner-btn{
    margin-top: 40px;
  }

  #who-am-i{
    width: 55%;
  }

  #who-am-i h2{
    font-size: 54px;
    margin-top: 30px;
  }

  .redbox{
    margin: 60px auto 0 auto;
  }

  .redbox p{
    padding: 30px 60px 35px 62px;
    line-height: 24px;
  }
}



/* OLD MEDIA QUERIES FOR PORTFOLIO GALLERY

@media screen and (min-width: 1024px) {
  .photos img {
    width: calc(100%/6);
    height: calc(100%/6);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .photos img {
    width: calc(100%/4);
    height: calc(100%/4);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .photos img {
    width: calc(100%/3);
    height: calc(100%/3);
  }
}
*/
