*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Open Sans", Arial, sans-serif;
  overflow-x: hidden;
}

main{
  overflow: hidden;
}

#top{
  background-image: url('media/mobile-banner-home.png');
  background-color: #F8F8F0;
  width: 100%;
  height: 1200px;
  background-repeat: no-repeat;
  background-size: contain;
}

.red{
  color: #DD3924;
}

nav{
  overflow:hidden;
}

nav a{
  float:right;
  display:block;
  color:#FFF;
  text-align:left;
  padding:14px 16px;
  text-decoration:none;
  font-size:17px;
  font-weight: 700;
  transition: all 0.4s ease;
}

nav a:hover{
  color:#DD3924;
}

nav ul{
  margin:8px 0 0 0;
  list-style:none;
}

.nav-logo{

}

.btn-mobile-menu{
  z-index: 200;
  position: absolute;
  display: none;
  right: 4px;
  top: 4px;
}

.btn-mobile-menu-container{
    display: inline-block;
    cursor: pointer;
}

.line1, .line2, .line3 {
    width: 34px;
    height: 4px;
    background-color: #FFF;
    margin: 7px 0;
    transition: 0.4s;
}

.change .line1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 7px);
    transform: rotate(-45deg) translate(-9px, 7px);
}

.change .line2 {opacity: 0;}

.change .line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -7px);
    transform: rotate(45deg) translate(-8px, -7px);
}

#mobile-menu{
  height:100%;
  width:250px;
  position:fixed;
  z-index:100;
  margin-right: -250px;
  top:0;
  right:0;
  background-color: #354765;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

#mobile-menu a{
  width: 190px;
  padding:20px 30px 20px 30px;
  text-decoration:none;
  text-align: left;
  font-weight: 700;
  font-size:22px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  color:#ccc;
  display:block;
  transition:0.3s;
}

#mobile-menu a:hover{
  background-color: rgba(255,255,255,0.1);
}

.banner-overlay{
  top: 0;
  left: 0;
  color: #FFF;
  z-index: 10;
  position: relative;
  text-align: center;
}

.banner-overlay h1{
  font-size: 60px;
  padding: 3em 0 0 0;
}


/* Every iPhone from iPhone 4 to iPhone X */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 812px) {
    .navbar{display:none;}
    .btn-mobile-menu{display:block;}
    .banner-overlay h1{
      font-size: 30px;
      padding: 1em 0 0.4em 0;
    }
    .nav-logo{
      padding: 18px 0 0 18px;
    }
    .btn-red{
      background-color: #DD3924;
      border: none;
      color: white;
      padding: 14px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    .btn-red:hover{
      background-color: #DE6556;
    }
}
