*{
  font-family: 'Open Sans', Arial;
  margin: 0;
  padding: 0;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #4F4F4F;
}

#section-one{
  background-image: url('media/background.png');
  background-size: cover;
}

#section-two{
  background: linear-gradient(#ededed, #e6daa8);
}

#section-three{
  background-color: #e6daa8;
  height: 800px;
}

#section-four{
  background-color: #daddf0;
  color: black;
}

#section-five{
  background-color: #EDEDED;
  height: 860px;
}

#section-six{
  background-color: #e6daa8;
  height: 600px;
}

#section-seven{
  background-color: #EDEDED;
  height: 600px;
}

#section-eight{
  background-color: #e6daa8;
  height: 600px;
}

.bold{
  font-weight: 800;
}

nav{
  font-size: 15px;
  background-color: #4F4F4F;
  position:fixed;
  width: 100%;
  height: 50px;
  text-align:center;
  opacity: 0.8;
  z-index: 600;
}

nav li{
  display: inline-block;
  margin-left: 60px;
  margin-bottom: -19px;
}

.first{
  margin-left: 10px;
}

ul{
  width: 100%;
  color: #EDEDED;
}

ul .img{
  background-image: url('media/A-logoform-light.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 10px 0 10px 0;
  width: 30px;
  height: 30px;
}

ul .img:hover{
  background-image: url('media/A-logoform.png');
}

nav a{
  text-decoration: none;
  cursor: pointer;
}

nav a:hover{
  transition: .7s;
  color: #e2c960;
}

.imageoverlay{
  color: #000;
  top: 160px;
  position: absolute;
  text-align: center;
  margin-left: 26%;
  left: 0;
  z-index: 100;
}

.logoanimation{
  float: left;
  position: absolute;
  top: -200px;
  left: -270px;
  text-align: center;
}

.imageoverlay h3{
  font-weight: 100;
  float: left;
  color: #707070;
  margin: 15px 0 0 20px;
}

.bigimage{
  float: left;
  margin-top: 150px;
}

.bigimage img{
  width: 100%;
}

.logo{
  width: 250px;
  float: left;
}

.promotion{
  width: 100%;
  height: 800px;
  float: left;
}

.promotion source{
  width: 100%;
}

.leftimg{
  width: 400px;
  position: absolute;
  left: 200px;
  float: left;
}

.rightimg{
  float: left;
  margin-top: 127px;
}

.text{
  width: 500px;
  color: #4F4F4F;
}

.text img{
  width: 400px;
  margin-bottom: 10px;
}

.text p{
  font-size: 18px;
  line-height: 32px;
}

.right{
  float: left;
  margin: -100px 0 0 400px;
}

.left{
  float: left;
  margin: -100px 0 0 0;
}

.about{
  float: left;
  margin: -160px 0 0 0;
  text-align: center;
  width: 700px;
}

.about h3{
  font-size: 70px;
  margin-bottom: 40px;
}

.about p{
  font-size: 18px;
  line-height: 28px;
}

.centerimage{
  float: left;
  position: absolute;
  margin-top: 160px;
  text-align: center;
}

#section-four .right{
  float: left;
  margin: -100px 0 0 600px;
}

#section-four .leftimg{
  width: 400px;
  position: absolute;
  left: 100px;
  float: left;
}

#section-five .left{
  float: left;
  margin: -100px 0 0 -420px;
}

#section-five .rightimg{
  float: left;
  position: absolute;
  right: 0;
  margin: 20px 0 0 0;
}

#section-six .leftimg{
  float: left;
  margin: 30px 0 0 -200px;
}

#section-six .right{
  float: left;
  margin: 0 0 0 500px;
}

#section-seven .left{
  margin: -40px 0 0 -500px;
}

#section-seven .rightimg{
  float: left;
  position: absolute;
  margin: -20px 0 0 0;
  right: 0;
}

.price{
  float: left;
  padding-top: 20px;
  font-size: 22px !important;
  font-style: italic;
  font-weight: 600;
  border-bottom: 1px solid #4f4f4f;
}

footer{
  padding-top: 30px;
  color: #ffffff;
  background-color: #4f4f4f;
  width: 100%;
  float: left;
  height: 220px;
  bottom: 0;
}

.footertext a{
  color: #ffffff
}

.footertext{
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
}

.footerpics{
  text-align: center;
}

.copyright{
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
}
