*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", Arial, sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.red {
  color: #BA4125;
}

.btn {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 62px;
  font-size: 16px;
  font-weight: 700;
}
.btn .btn-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(-16px);
  transform: translateZ(-16px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 0.2s;
}
.btn .btn-container .btn-front, .btn .btn-container .btn-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.btn .btn-container .btn-front {
  -webkit-transform: rotateX(0deg) translateZ(15px);
  transform: rotateX(0deg) translateZ(15px);
}
.btn .btn-container .btn-bottom {
  -webkit-transform: rotateX(-90deg) translateZ(30px);
  transform: rotateX(-90deg) translateZ(30px);
}
.btn:hover .btn-container {
  -webkit-transform: translateZ(-24px) rotateX(90deg);
  transform: translateZ(-24px) rotateX(90deg);
}
.btn .btn-container .btn-front, .btn .btn-container .back {
  border: 3px solid #FFF;
}
.btn .btn-container .btn-bottom {
  background: #FFFFFF;
  color: #343434;
}
.btn:hover .btn-container .btn-bottom {
  background: #FFFFFF;
  color: #343434;
}
.btn:hover .btn-container .btn-front {
  border: 3px solid #FFF;
}

h2{
  font-size: 75px;
  text-align: center;
  margin: 100px 0 70px 0;
}

p{
  font-size: 15px;
  line-height: 22px;
}

main{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-auto-rows: auto;
}

header{
  grid-column: 1 / 13;
  grid-row-start: 1;
  grid-row-end: 1;
  z-index: 1;
}

nav{
  display: grid;
  grid-column: 1 / 13;
}

.logo{
  grid-column: 1 / 2;
  background-size: 140px 70px;
  background-repeat: no-repeat;
  background-image: url("media/sb-logo.svg");
  background-position: center center;
  width: 140px;
  height: 52px;
  margin: 40px 0 0 60px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.logo:hover{
  transform: scale(1.3);
  filter: drop-shadow(0 0 10px #000);
}

.menu{
  grid-column: 13 / 13;
  grid-row-start: 1;
  grid-row-end: 1;
  margin: 55px 60px 0 0;
}

.menu li{
  float: right;
  display: inline;
  margin: 0 25px;
  transition: all 0.3s ease-in-out;
}

.menu li:hover{
  filter: drop-shadow(0 0 10px #000);
}

.menu a{
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 14px;
  text-decoration: none;
  color: #FFF;
}

.banner{
  grid-column: 1 / 13;
  background-color: #415879;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url("media/banner-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h1{
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  color: #FFF;
  margin-top: 210px;
}

h1 > div {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.mainword {
  animation: showup 7s;
  animation-delay: 0.7s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.mainsentence {
  width: 0px;
  animation: reveal 7s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}

.mainsentence span {
  margin-left: -355px;
  animation: slidein 8s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}

.text-carousel {
  width: 800px;
  margin: 30px auto 50px auto;
  position: relative;
  padding-left: 50px;
  opacity: 0;
  animation: fadein 4s;
  animation-delay: 3.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.text-carousel-container {
  font-weight: 400;
  overflow: hidden;
  height: 60px;
  padding: 0 40px;
}

.text-carousel-text {
  display: inline;
  text-align: left;
  float: left;
  margin: 0;
  font-size: 24px;
  color: #FFF;
  font-weight: 300;
}

.text-carousel-list {
  margin-top: 15.5px;
  padding-left: 423px;
  text-align: left;
  list-style-type: none;
  animation-name: change;
  animation-duration: 15s;
  animation-delay: 3.8s;
  animation-iteration-count: infinite;
}

.text-carousel-list-item {
  line-height: 60px;
  font-size: 24px;
  margin: 0 0 0 6px;
}

.subhead-hr {
  width: 196px;
  border: 1px solid #BA4125;
  margin: 24px 0px 0 6px;
  display: inline-block;
}

.banner-btn{
  text-align: center;
  margin-bottom: 160px;
  animation: fadein 1600ms steps(20) 1;
  animation-delay: 4.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes change {
  0%, 7.5%, 100% {
    transform: translate3d(0, -20%, 0);
  }
  12.5%, 20% {
    transform: translate3d(0, -40%, 0);
  }
  25%, 32.5% {
    transform: translate3d(0, -60%, 0);
  }
  37.5%, 45% {
    transform: translate3d(0, -80%, 0);
  }
  50%, 57.5% {
    transform: translate3d(0, -100%, 0);
  }
  62.5%, 70% {
    transform: translate3d(0, -80%, 0);
  }
  75%, 82.5% {
    transform: translate3d(0, -60%, 0);
  }
  87.5%, 95% {
    transform: translate3d(0, -40%, 0);
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    opacity: 1;
    width: auto;
  }
  80% {
    opacity: 1;
    width: auto;
  }
  100% {
    opacity: 1;
    width: auto;
  }
}

.projects{
  grid-column: 1 / 13;
}

.projects-intro{
  text-align: center;
  padding: 30px 0;
  font-weight: 800;
  background-color: #F5F5E5;
  color: #91916E;
}

.projectgrid{
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.projectgrid div{
  height: 500px;
}

.pro1{
  background-color: green;
}

.pro2{
  background-color: blue;
}

.pro3{
  background-color: yellow;
}

.pro4{
  background-color: magenta;
}

.pro5{
  background-color: cyan;
}

.pro6{
  background-color: red;
}

.pro7{
  background-color: orange;
}

.pro8{
  background-color: pink;
}

.project-view-more{
  background-color: #343434;
  height: 180px;
  padding: 58px 0;
  text-align: center;
}

.project-view-more a{

}

.project-view-more a:hover{

}

.services{
  grid-column: 1 / 13;
  background-color: #3A5C77;
  color: #B1D9EF;
  padding-bottom: 120px;
}



.servicesgrid{
  background: radial-gradient(#5887AC 40%, #3A5C77 65%);
  grid-column: 1 / 13;
  display: grid;
  grid-gap: 1px;
  padding: 0 40px;
  grid-template-columns: repeat(3,1fr);
}



.servicesgrid > div{
  text-align: center;
  padding: 50px 60px;
  background-color: #3A5C77;
}

.icon-service {
  display: inline-block;
  text-align: center;
  border: solid 1px #7EBFF2;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s;
  width: 82px;
  height: 82px;
  border-radius: 82px;
}

.icon-1-service {
  background-image: url('media/icon-flame.svg');
  background-size: 42%;
}

.servicesgrid h4{
  font-size: 20px;
  font-weight: 500;
  padding: 20px 0 15px 0;
  color: #89CBFF;
}

.servicesgrid p{
  color: #93B7CB;
}
.work{
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: #F5F5E5;
  color: #91916E;
  text-align: left;
  padding: 60px 0;
}

.work h3{
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 800;
}

.worktext{
  padding: 70px 45px 0 90px;
}

.workgrid{
  display: grid;
  padding-right: 30px;
  grid-template-columns: repeat(3,1fr);
}

.workgrid div{
  height: 80px;
  margin: 20px 0;
  background-image: url("media/work-test.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.quotes{
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: #983219;
}

.quotes h2{
  color: #FFAB80;
}

.quotesintro{
  grid-column: 1 / 13;
}

.quotesgrid{
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.quotesgrid > div{
  padding: 100px 40px 120px 40px;
}

.quote-color{
  background-color: #AC3B21;
}

.quote-color2{
  background-color: #8E331C;
}

.quote-img{
  background-image: url("media/quote-test.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

.quote-name{
  text-align: center;
  margin: 20px 0 20px 0;
  color: #FF6C4A;
}

.quote-name h4{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}

.quote-name p{
  font-weight: 800;
  font-size: 13px;
  line-height: 15px;
  opacity: 0.45;
  padding: 0 10px;
}

.quote-text{
  color: #F08A72;
  padding-left: 10px;
}

footer{
  grid-column: 1 / 13;
  background-color: #46525F;
  color: #FFFFFF;
  padding: 100px 60px 50px 60px;
  text-align: center;
}

.footer-container{
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding-bottom: 70px;
}

.footer-container h5{
  font-size: 24px;
  margin-bottom: 40px;
}

.footer-contact p{
  text-align: left;
  line-height: 26px;
  margin-left: 6vw;
}

.contact-btn{
  text-align: left;
  margin-left: 6vw;
}

.contact-info{
  margin-bottom: 30px;
}

.footer-nav{
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgba(132, 151, 172, 0) 0%, rgba(132, 151, 172, 1) 20%, rgba(132, 151, 172, 1) 80%, rgba(132, 151, 172, 0)) 1 100%;
}

.footer-nav ul{
  padding: 0 8vw;
}

.footer-nav li{
  cursor: pointer;
}

.footer-nav li:hover{
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

.footer-nav hr{
  border: 0;
  height: 1px;
  background-color: #8BA4BF;
}

.footer-nav li{
  padding: 20px 0;
}

.footer-nav a{
  color: #FFF;
}

.footer-some a{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

.footer-some a:hover{
  transform: scale(1.3);
  filter: drop-shadow(0 0 20px #000);
}

.linkedin{
  background-image: url("media/icon-linkedin.svg");
  margin-right: 15px;
  height: 50px;
  width: 50px;
  display: inline-block;
}

.instagram{
  background-image: url("media/icon-instagram.svg");
  margin-left: 15px;
  height: 50px;
  width: 50px;
  display: inline-block;
}

.footer-sb-logo{
  background-image: url("media/footer-sb-logo.svg");
  margin: 40px auto 0 auto;
  display: block;
  width: 80px;
  height: 80px;
}

.copyright{
  grid-column: 1 / 13;
  width: 600px;
  margin: 0 auto;
}

.copyright p{
  font-size: 12px;
  line-height: 14px;
  color: #8497AC;
}

/* ---------- ABOUT PAGE ---------- */

.intro{
  grid-column: 1 / 13;
}

.intro-container{
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.resume{
  grid-column: 1 / 13;
}

.aboutme{
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.values{
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

@media only screen and (max-width: 1068px){
  .servicesgrid {
    grid-template-columns: repeat(2,1fr);
  }
  .work {
    grid-template-columns: repeat(1,1fr);
  }
  .quotesgrid{
    grid-template-columns: repeat(2,1fr);
  }
  .aboutme{
    grid-template-columns: repeat(1,1fr);
  }
}

@media only screen and (max-width: 735px){
  .servicesgrid {
    grid-template-columns: repeat(3,1fr);
  }
  .quotesgrid{
    grid-template-columns: repeat(1,1fr);
  }
  .footercontainer{
    grid-template-columns: repeat(1,1fr);
  }
  .intro-container{
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
