*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body{
  background-color: #F1F1F2;
}

#difficulty{
  text-transform: uppercase;
}

#lessonplanone{
  /*display: none;*/
}

#lessonvotebutton0{
  float: left;
  margin: 70px 0 0 20px;
  width: 40px;
  height: 23px;
  background-image: url("media/lessonplanvote.png");
}

.userpage{
  width: 80%;
  height: 200px;
  margin: 0 auto;
  background: #FFF;
  border-radius: 4px;
  text-align: center;
}​

.rightusertext p{
  color: #ADADAD;
  font-size: 16px;
  font-weight: 700;
}​

.rightusertext h2{
  color: #646464;
  font-weight: 300;
}​

.rightusertext{
  background-color: #FFF;
  margin-bottom: 20px;
}​

.userpage > .leftuserimg{
  float: left;
  width: 160px !important;
}​

.userpage img{
  display: inline;
}​

.userpage h2{
  display: inline;
  color: #646464;
}​

.create-lesson .send-comment{
  padding-top: 0;
}

.small-height{
  height: 24px !important;
}

.create-lessonplan-chapters{
  display: flex;
  margin: -20px 0 20px 0;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.create-lessonplan-chapters div {
  background-color: #00A19B;
  cursor: pointer;
  color: #FFF;
  width: 120px;
  margin: 10px;
  padding: 40px 0;
  text-align: center;
  font-size: 15px;
}

.create-lesson-section{
  margin-bottom: 40px;
}

.add-chapter{
  background: #DDDDDD !important;
}

.lesson-text{
  color: #646464;
  border: 0px;
  background: #F1F1F2;
  margin: 0 auto;
  display: block;
  width: 98%;
  height: 150px;
  border-radius: 4px;
  line-height: 1.4em;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

textarea{
  resize: none;
}

.create-lesson{
  width: 80%;
  margin: 0 10%;
  background: #FFF;
  padding: 20px;
}

.create-lesson-title h3{
  color: #FFF;
  background: #00A19B;
  padding: 6px 0 6px 12px;
}

.respond-vote{
  display: inline;
  float: left;
  width: 44px;
  margin-top: -14px;
  min-width: 44px;
}

.report-lessonplan{
  margin: 30px auto;
  text-align: center;
  width: 100%;
}

.report-lessonplan button{
  padding: 15px 35px;
  border-radius: 4px;
  background: linear-gradient(to right, #8D0505 , #B75400);
  font-size: 15px;
  border: none;
  color: #FFF;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s linear;
}

.report-lessonplan button:hover{
  background: linear-gradient(to right, #8D0505 , #B75400);
}

.send-comment button{
  padding: 15px 35px;
  border-radius: 4px;
  background: linear-gradient(to right, #00A19B , #00C9C2);
  font-size: 15px;
  border: none;
  color: #FFF;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s linear;
}

.send-comment button:hover{
  background: linear-gradient(to right, #00A19B , #00C9C2);
}

#login #signupbutton{
  width: 170px;
  cursor: pointer;
}

#login #signupbutton:hover{
  background: #F1F1F2;
  color: #00A19B;
}

.comment-vote{
  display: inline;
  float: left;
  width: 76px;
  margin: -50px 0 0 -20px;
  min-width: 76px;
}

.comment-vote img{
  display: inline;
  float: left;
}

.main-comment{
  background-color: #FFF;
  padding-bottom: 20px;
}

.comment-title{
  background-color: #00A19B;
  color: #FFF;
  padding: 10px;
  border-radius: 4px;
}

.comment-content{
  padding: 20px 20px 0 20px;
}

.comment-title h3{
  padding: 10px;
}

.send-comment{
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}

.send-comment a{
  background: linear-gradient(to right, #00A19B , #00C9C2);
  height: 50px;
  color: white;
}

.comment-text{
  color: #646464;
  border: 0px;
  background: #F1F1F2;
  margin: 10px auto 0 auto;
  display: block;
  width: 98%;
  height: 150px;
  border-radius: 4px;
  line-height: 1.4em;
  padding: 10px 10px;
  font-size: 14px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

::-webkit-input-placeholder {
  color: #BCBCBC;
}

.respond-name{
  display: inline;
  padding: 0px 40px 10px 0;
  float: left;
  width: 150px;
}

.respond-content{
  display: inline;
  float: left;
  width: 70%;
}

.respond-content p{
  display: inline;
  float: left;
}

.respond-name a{
  text-decoration: none;
  color: #00A19B;
  font-size: 18px;
  float: left;
  padding-left: 20px;
}

.thread-response{
  background: #DDDDDD;
  color: #646464;
  float: left;
  width: 89%;
  display: block;
  margin-left: 10%;
  margin-right: 10px;
  padding: 10px 0;
}


.comment-top button{
margin: auto;
text-align: center;
}


#comment-section{
  width: 80%;
  margin: 20px auto;
}

.infobox .author{
  margin: 10px 0 4px 0;
}

.forumtitle{
  background: #044C7F;
  width: 100%;
  float: left;
  display: block;
  border-radius: 4px;
  color: #FFF;
}

.forumtitle h3{
  padding: 10px 15px 10px 18px;
}

.forumtitle a{
  text-decoration: none;
  color: #FFF;
}

.divider{
  padding: 0 8px;
}

.profileimage{
  float: left;
  margin-right: 10px;
}

.profiletext{
  float: left;
}

.profiletext a{
  text-decoration: none;
  color: #646464;
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
  font-weight: 500;
  padding-left: 0 !important;
}

.profiletext p{
  color: #ADADAD;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
}

.profiletext h4{
  padding: 0 0 4px 0 !important;
  font-size: 18px;
}

.green{
  padding: 7px 10px 0 0;
  border-right: 1px solid #ADADAD;
  display: inline;
  color: #00A19B !important;
}

.blue{
  padding-left: 8px;
  display: inline;
  color: #044C7F !important;
}

.threadcontainer{
  display: flex;
  min-height: 100px;
  padding: 10px 10px 0 10px;
}

.threadinfo{
  width: 400px;
  background: #F1F1F2;
  padding: 20px;
  border-right: 1px solid #DDDDDD;
}

.threadcontent{
  width: 75%;
  padding: 20px;
  background-color: #F1F1F2;
  color: #646464;
  line-height: 22px;
}

.threadcontent p{
  width: 95%;
}

.add-button{
  background: #005D5A;
  font-weight: 500;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  margin-bottom: 20px;
  border: 1px solid #002423;
  float: left;
  transition: all 0.5s ease;
}

.add-button:hover{
  background: #043836;
}


#lessonvotebutton1{
  float: left;
  margin: 70px 0 0 20px;
  width: 40px;
  height: 23px;
  background-image: url("media/lessonplanvote.png");
}

.lessonplan-votenumber{
  width: 100%;
  box-shadow: none;
  margin: 12px 0 0 -21px;
  background: none;
  font-size: 14px;
  text-align: center;
}

.testcontainer {
  width: 80%;
  margin: 0 auto;
}

html{
  position:relative;
  min-height: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.lessonplan-aside{
  background-color: #f1f1f1;
  width: 15%;
  min-width: 180px;
  margin-right: 10px;
}

.lessonplan-focus{
  background-color: #FFF;
  border-radius: 4px;
}

.lessonplan{
  display: flex;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #DDDDDD;
}

.lessonplan-vote{
  width: 76px;
  min-width: 76px;
}

.lessonplan-left{
  width: 350px;
}

.lessonplan-left img{
  width: 100%;
}

.lessonplan-right{
  width: 600px;
  display: inline;
  width: 50%;
  padding: 0 20px;
}

.lessonplan-right h2{
color: #646464;
padding-bottom: 4px;
font-size: 24px;
font-weight: 700;
}

.lessonplan-right a{
  color: #ADADAD;
}

.lessonplan-right p{
  padding: 12px 0 20px 0;
  line-height: 22px;
  color: #646464;
}

.lessonplan-bottom{
  display: block;
}

.lessonplan-bottom img{
  padding: 0 4px 0 10px;
  vertical-align: center;
  display: inline;
}

.lessonplan-bottom p{
  vertical-align: center;
  display: inline;
  color: #ADADAD;
  font-weight: 700;
  font-size: 13px;
}

.aside2{
  width: 200px;
}

.aside2 div{
  display: block;
}

.aside2 div p{
  background: rgba(0,161,155,0.5);
  color: #FFF;
  cursor: pointer;
  display: block;
  padding: 8px 12px;
  margin-top: 12px;
  display: inline-block;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s linear;
}

.aside2 p:hover{
  background-color: rgba(0,161,155,0.8);
}

.chosen{
  background: #00A19B !important;
}

.aside2 h3{
  color: #00A19B;
  margin: 20px 0 -4px 0;
}

.topcategory{
  margin: 0 !important;
}

.main2{
  width: 800px;
}

.searchbar{
  display: inline;
  float: right;
  width: 300px;
  margin-right: 20px;
}

.searchbar input{
  width: 100%;
}

.forumsubject{
  width: 100%;
  float: left;
  margin: 0 auto;
  padding: 20px 0 18px 0;
  background-color: #FFF;
  border-bottom: 1px solid #DDDDDD;
  transition: background-color 0.5s;
  cursor: pointer;
}

.forumsubject:hover{
  background-color: #E8E8E8;
}

#userpage-container{
  border-radius: 4px;
  width: 80%;
  padding: 26px 16px 0 16px;
  height: 640px;
  margin: 0 auto;
  background-color: #FFF;
}

.userprofile{
  width: 500px;
  margin: 0 auto;
}

.usercontent{
  margin-top: 20px;
  width: 100%;
  display: block;
  float: left;
}

.userpageleft{
  width: 160px;
  float: left;
}

.userpageright{
  float: left;
}

.userpageright h2{
  color: #646464;
  font-weight: 300;
}

.userpageright p{
  color: #ADADAD;
  font-weight: 900;
}

.profile-infotext{
  margin: 4px 0 8px 0;
}

.forumsubject img{
  display: inline;
}

.forumsubject h4{
  color: #005D5A;
  font-weight: 600;
  padding: 0 0 3px 15px;
}

.forumsubject p{
  font-size: 14px;
  padding-left: 15px;
  color: #ADADAD;
  display: inline;
}

.forumleft{
  float: left;
  display: inline;
}

.forumright{
  float: right;
  display: inline;
  padding-right: 20px;
}

.forumright img{
  margin-top: 10px;
  vertical-align: center;
}

.forumright p{
  padding: 0 10px 0 5px;
  vertical-align: center;
}

.forums {
  width: 80%;
  margin: 0 auto;
  background: #FFF;
  border-radius: 4px;
  padding-bottom: 10px;
}​

main{
  width: 100%;
  float: left;
  box-sizing: border-box;
  background-color: #F1F1F2;
  margin: 0;
  padding: 0;
}

.white{
  background: #fff !important;
}

#login{
  background-image: url("media/bg.jpg");
  background-size: cover;
  text-align: center;
}

section h2{
  text-align: center;
  margin-top: 60px;
}

#loginbutton{
  color: #FFF;
  width: 220px;
  margin-right: 10px;
  background: linear-gradient(to right, #00A19B , #00C9C2);
  border: 1px solid #FFF;
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.2s ease-in-out;
}

#loginbutton:hover{
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 1);
}

.indexcontainer{
  position: relative;
  position: absolute;
  top: 42%;
  left: 20px;
  right: 20px;
  color: white;
  padding: 20px;
  transform: translateY(-50%);
  resize: vertical;
  overflow: auto;
  resize: vertical;
  overflow: auto;
}

.indexcontainer h1{
  margin-top: 40px;
  font-weight: 900;
}

input{
  margin: 20px auto;
  width: 380px;
  padding: 15px 0 15px 20px;
  background: #FFF;
  color: #6F6F6F;
  font-size: 14px;
  border-radius: 4px;
  display: block;
  border: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

h2{
  color: #216393;
  font-size: 48px;
}

button{
  padding: 15px 35px;
  border-radius: 4px;
  background: #FFF;
  font-size: 15px;
  border: none;
  color: #00A19B;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s linear;
}

button:hover{
  background: #00A19B;
  color: white;
}

h1{
  font-size: 60px;
  margin-bottom: 30px;
}

.tagline{
  margin: 0 auto;
  padding: 20px 0 10px 0;
  width: 400px;
}

#popup{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
  display: none;
}

#popup-main{
  position: fixed;
  width: 600px;
  height: 740px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: #F0F0F0;
  left: 50%;
  margin-left: -300px;
  top: 50%;
  margin-top: -400px;
}

#popup-main h2{
  color: #00A19B;
  font-size: 32px;
  margin: 40px 0 30px 0;
}

#popup-main #button{
  background: linear-gradient(to right, #00A19B , #00C9C2);
  color: #FFF;
  margin-top: 10px;
}

#close-popup{
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 2px solid #ADADAD;
  text-align: center;
  font-weight: bold;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

#close-popup p{
  font-weight: 400;
  margin-top: 3px;
  color: #ADADAD;
}

.vote{
  float: left;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 75px;
  background: #f1f1f2;
}

#votebutton{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#number{
  font-size: 14px;
}

#votebutton2{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton2 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton3{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton3 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton4{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton4 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton5{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton5 p{
  padding-top: 16px;
}

#votebutton6{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton6 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton7{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton7 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton8{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton8 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton9{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton9 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton10{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton10 p{
  padding-top: 16px;
  font-size: 14px;
}

#lessonplanfrontcontainer{
  width: 80%;
  margin: 40px auto 0 auto;
  background: #FFF;
  text-align: center;
}

#lessonplanfrontcontainer-user{
  width: 100%;
  margin: 40px auto 0 auto;
  background: #FFF;
  text-align: center;
}

#forumfrontcontainer{
  display: none;
  left: 10%;
  width: 80%;
  margin: 0 auto;
  background: #FFF;
  text-align: center;
  position: absolute;
}

#userfrontcontainer{
  display: none;
  left: 10%;
  margin: 70px 0 0 0;
  text-align: center;
  width: 1100px;
  position: absolute;
}

#userplanfrontcontainer{
  left: 10%;
  margin: 70px 0 0 0;
  text-align: center;
  width: 1100px;
  position: absolute;
}

.votenumber{
  width: 100%;
  box-shadow: none;
  margin: 4px 0 0 -18px;
  background: none;
}

.posttext{
  color: #646464;
  font-size: 18px;
  margin: 25px 0 0 20px;
  float: left;
}

#intro{
  margin: 0 auto;
  padding: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.item1 {
  grid-area: menu;
  background-image: url('media/kubo1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 }
.item2 {
  grid-area: right;
  background-image: url('media/kubo2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.item3 {
  grid-area: right2;
  background-image: url('media/kubo3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container {
  height: 500px;
  margin: 0 auto;
  padding-bottom: 80px;
  display: grid;
  grid-template-areas:
    'menu menu right'
    'menu menu right2';
  grid-gap: 10px;
}

.bigimagetext{
  color: white;
  font-size: 24px;
  margin: 450px 0 0 20px;
  padding-right: 20px;
  float: left;
  bottom: 0;
}

.smallimagetext{
  color: white;
  font-size: 17px;
  padding-right: 20px;
  margin: 210px 0 0 20px;
  float: left;
  bottom: 0;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#trending{
  color: #ffffff;
  height: 700px;
  float: left;
  width: 100%;
  background: #044C7F;
}

#usercontent{
  float: left;
  width: 100%;
}

#trending h2{
  color: #ffffff;
}

.active{
  background-color: #F1F1F2 !important;
  color: #00A19B !important;
}

.profile-active{
  background-color: #00A19B !important;
  color: #FFF !important;
}

.category{
  width: 50%;
  height: 40px;
  cursor: pointer;
  padding-top: 20px;
  float: left;
  background: #FFF;
  background-color: #044C7F;
  color: #F1F1F2;
  transition: background-color 0.2s linear;
}

.category:hover{
  background-color: #18679F;
}

.profile-category{
  width: 50%;
  text-align: center;
  height: 40px;
  cursor: pointer;
  padding-top: 20px;
  float: left;
  background: #FFF;
  background-color: #DDDDDD;
  color: #646464;
  transition: background-color 0.2s linear;
}

.profile-category:hover{
  background-color: #7FCECB;
}

#news {
  height: 800px;
  float:left;
  width: 100%;
  background: #F1F1F2;
}

#news h2{
  color: #044C7F;
  padding-right: 40px;
}

#news .newstitle{
color:#ffffff;
font-size: 20px;
}

.news-container p{
  color:#646464;
  padding-left: 5%;
  padding-right: 5%;
  padding-top:5%;
  padding-bottom: 5%;
  font-size: 14px;
  height: 180px;
  text-align:left;
  line-height: 22px;
}


.news-container{
  position: relative;
  height: 700px;
  width: 75%;
  margin-left:11%;
  margin-top: 3%;
  display: grid;
  grid-template-areas:
  'news1 news2'
  'news3 news4';
  grid-gap: 30px;
}

.news1{
background-color: white;
grid-area:news1;
}

.news2{
background-color: white;
grid-area:news2;
}

.news3{
background-color: white;
grid-area:news3;
}

.news4{
background-color: white;
grid-area:news4;
}

.news-container {
  width: 80%;
  margin: 0 auto;
}

button.newsbutton{
  height: 95px;
  width: 100%;
  background-color: #044C7F;
  margin-top: 50px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button.newsbutton:hover{
  background-color: #216393;
}

.news-content{
  max-height: 0;
  margin-top: 150px;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

footer{
  float: left;
  width: 100%;
  margin: 50px auto 0 auto;
  background-color: #044C7F;
  left: 0;
  bottom: 0;
}

.footer-container{
  padding: 40px 0 30px 0;
  line-height: 25px;
  display: flex;
  margin: 0 auto;
  width: 60%;
  font-size: 14px;
  padding-left: 80px;
}

.footer-container h3{
margin-bottom: 16px;
font-weight: 900;
}

.footer-container a{
  color:#ffffff;
  text-decoration: none;
  display: block;
  transition: color 0.4s ease;
}

.footer-container a:hover{
  color: #00A19B;
}

.footer1 {
  color:#ffffff;
}

.footer2{
  color:#ffffff;
  text-align: center;
  margin: 0 auto;
}

.footer2 img{
  margin-bottom: 14px;
}

.footer3{
  color:#ffffff;
  text-align: left;
}

.footer3 a{
  text-decoration: underline;
}

.overlay{
  position: relative;
  margin: -44px 0 0 20px;
  font-size: 20px;
  text-align: left;
  color: #FFF;
}

.headerstyle{
  margin-right: 30px;
  overflow: hidden;
}

ul{
  margin:0;
  padding:0;
}

header{
  padding-top:30px;
  height:100px;
  background-color: #F1F1F2;
}

header a{
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
  color: #646464;
}

header li{
  float:right;
  display:inline;
  padding: 0 20px 0 20px;
}

header nav{
  float: right;
  margin-top: 10px;
}

header nav a{
  color: #646464;
  transition: color 0.4s ease;
}

header nav a:hover{
  color: #00A19B;
}

.current{
  color: #00A19B;
  font-weight:bold;
}

.logo{
  float: left;
  padding-left: 35px;
}

#categories{
  width: 100%;
  background: linear-gradient(to right, #00A19B , #00C9C2);
  color: #FFF;
  padding: 0 0 20px 0;
  margin-bottom: 20px;
}

#forumtop{
  width: 100%;
  background: linear-gradient(to right, #044C7F , #216393);
  color: #FFF;
  margin-bottom: 30px;
  padding: 0 0 20px 0;
}

.topbar h1{
  margin: 0;
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 2px;
  display: inline;
  vertical-align: middle;
}

.topbar img{
  padding: 0 16px 0 4px;
  display: inline-block;
  vertical-align: middle;
}

.topcat{
  width: 100%;
  padding-top: 20px;

}

.topbar{
  width: 80%;
  margin: 0 auto;
}

.categories{

}

.categories p{
  background: rgba(0,161,155,0.5);
  color: #FFF;
  cursor: pointer;
  display: inline;
  padding: 8px 12px;
  margin-left: 8px;
  margin-top: 20px;
  display: inline-block;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s linear;
}

.categories p:hover{
  background-color: rgba(0,161,155,0.8);
}

#lessonplan{
  padding: 0;
}

#lessonplans{
  width: 80%;
  margin: 0 auto;
}

.details{
  margin: 87px 0 0 0;
}

.lessonplanoverview{
  margin: 0 auto;
  padding-bottom: 80px;
  display: grid;
  grid-template-areas:
    'plan1 plan2'
    'plan3 plan4';
  grid-gap: 10px;
}

.lessonplanoverview img{
  display: inline;
}

.level{
  display: inline;
  font-size: 13px;
  margin-right: 16px;
}

.time{
  display: inline;
  font-size: 13px;
  margin-bottom: 4px;
}

.lectionname{
  font-size: 24px;
  text-decoration: none;
  color: #FFF;
  padding: 0 0 10px 0;
}

.author{
  color: #FFF;
  margin-top: 20px;
  font-size: 13px;
  display: block;
}

.lessonplandetails{
  margin: 0;
  color: #FFF;
  width: 200px;
  margin: 0;
  padding: 12px;
  display: inline-block;
}

.lessonplanimg{
  margin: 0;
}

.lessonplanimg img{
  width: 48%;
  height: 250px;
  float: left;
}

.plan1 {
  background-color: #00A19B;
  grid-area: plan1;
 }

.plan2 {
  background-color: #00A19B;
  grid-area: plan2;
}

.plan3 {
  background-color: #00A19B;
  grid-area: plan3;
}

.plan4 {
  background-color: #00A19B;
  grid-area: plan4;
}

#top{
  background-color: #00A19B;
  width: 100%;
  color: white;
  padding: 0;
}

.topdiv{
  width: 80%;
  margin: 0 auto;
  font-size: 40px;
}

.topdiv h1{
  padding: 20px 0 20px 0;
}

.author-profile{
  margin: 0 auto;
  text-align: center;
  grid-area: author;
}

.profile-picture{
  margin: 1% 2% 2% 2%;
}

.name{
  color: black;
  font-size: 20px;
}

.author-info{
  color: #646464;
  text-transform: uppercase;
  font-size: 12px;
}

.author-stats{
  color: #00A19B;
  text-transform: uppercase;
  font-size: 12px;
  display: inline;
}

.author-stats1{
  color: #005DA5;
  text-transform: uppercase;
  font-size: 12px;
  display: inline;
}

#lessonplancontainer{
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-gap: 15px;
  grid-template-areas:
    'about about about about info'
    'aside main main main main'
    'aside main main main main'
    'aside main main main main'
    'aside author author author author';
}

.about{
  grid-area: about;
}

.info{
  grid-area: info;
}

.aside{
  grid-area: aside;
    width: 100%;
    background-color: #00A19B;
}

.main{
  grid-area: main;
  background-color: #FFF;
  padding: 20px;
}

article{
  width: 100%;
  float: left;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main h2{
  float: left;
  color: #646464;
  font-weight: 300;
  margin-top: 0;
}

.main h4{
  color: #00A19B;
  padding: 10px 0 4px 20px;
}

.maintext p{
  color: #646464;
  padding: 0 20px 10px 20px;
}

.maintext{
  background-color: #F1F1F2;
  float: left;
  width: 100%;
  padding-bottom: 10px;
}

.chapter{
  padding-left: 4px;
  color: #00A19B;
  font-weight: 700;
}

.about h3{
  color: #00A19B;
  margin: 10px 0 0 15px;
}

.about p{
  background-color: #FFF;
  border-radius: 4px;
  color: #646464;
  padding: 10px 15px;
  margin: 10px 0 0 0;
  height: 75px;
}

.info h3{
  color: #00A19B;
  margin: 10px 0 10px 15px;
}

.info p{
  color: #FFF;
  padding: 5px 5px 5px 2px;
  margin: 0 0 0 5px;
  display: inline-grid;
}

.infolevel{
  margin: 1px 1px 1px 10px;
}

.author{
  margin-left: 32%;
  grid-area: author;
  float: left;
  width: 100%;
}

.infoclock{
  margin: 0 0 0 10px;
}

.infobox{
  background-color: #969696;
  border-radius: 4px;
  height: 96px;
  padding-left: 10px;
}

#votebutton11{
  background-repeat: no-repeat;
  padding: 10px 10px 10px 7px;
  margin: -60px 5px 0 200px;
  width: 50px;
  height: 25px;
  background-image: url("media/votewhite.png");
}

#votebutton11 p{
  padding-top: 16px;
  font-size: 19px;
  color: #fff;
}

.votenumber-white{
  font-size: 18px;
  width: 100%;
  box-shadow: none;
  margin: 4px 0 0 -30px;
  text-align: center;
  background: none;
  color: white;
}

.lessonvideo {
  padding: 2% 0 2% 0;
}

video{
  float: left;
  width: 100%;
}​

#lessonvotebutton1{
  float: left;
  margin: 70px 0 0 20px;
  width: 40px;
  height: 23px;
  background-image: url("media/lessonplanvote.png");
}

#lessonvotebutton2{
  float: left;
  margin: 70px 0 0 20px;
  width: 40px;
  height: 23px;
  background-image: url("media/lessonplanvote.png");
}

#lessonvotebutton3{
  float: left;
  margin: 70px 0 0 20px;
  width: 40px;
  height: 23px;
  background-image: url("media/lessonplanvote.png");
}

#lessonvotebutton4{
  float: left;
  margin: 70px 0 0 20px;
  width: 40px;
  height: 23px;
  background-image: url("media/lessonplanvote.png");
}

#lessonvotebutton5{
  float: left;
  margin: 70px 0 0 20px;
  width: 40px;
  height: 23px;
  background-image: url("media/lessonplanvote.png");
}

#lessonvotebutton6{
  float: left;
  margin: 70px 0 0 20px;
  width: 40px;
  height: 23px;
  background-image: url("media/lessonplanvote.png");
}

#lessonvotebutton7{
  float: left;
  margin: 70px 0 0 20px;
  width: 40px;
  height: 23px;
  background-image: url("media/lessonplanvote.png");
}

#lessonvotebutton8{
  float: left;
  margin: 70px 0 0 20px;
  width: 40px;
  height: 23px;
  background-image: url("media/lessonplanvote.png");
}

#lessonvotebutton9{
  float: left;
  margin: 70px 0 0 20px;
  width: 40px;
  height: 23px;
  background-image: url("media/lessonplanvote.png");
}

#lessonvotebutton10{
  float: left;
  margin: 70px 0 0 20px;
  width: 40px;
  height: 23px;
  background-image: url("media/lessonplanvote.png");
}
