*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  float: left;
}

nav{
  font-family: 'Share Tech', Arial;
  font-size: 20px;
  background-color: #0a286e;
  position:fixed;
  width: 100%;
  height:5%;
  text-align:center;
  padding-top:20px;
  opacity: 0.8;
  z-index: 95;
}

nav li{
  display: inline-block;
  margin-left: 50px;
}

ul{
  width: 100%;
}

li a{
  color:white;
}

nav a{
  text-decoration: none;
}

nav a:hover{
  color:#e85200;
}

.first{
  margin-left: 0;
}

@font-face{
  font-family: Neo Latina; src: url('media/neo-latina.ttf');
}

#video{
  height: 950px;
}


#presentation{
  margin-top: 0;
  height: 1840px;
}

#opinions{
  height: 950px;
  margin-top: 250px;
}

#data{
  margin-top: 300px;
  height: 1350px;
}

#contact{
  margin-top: 100px;
  height: 960px;
}

@keyframes headeranimation{
  from {opacity: 1.0;}
  to {opacity: 0;}
}

.header{
  animation-name: headeranimation;
  animation-duration: 3s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

.videooverlay{
  padding: 0;
  top: 0;
  left: 0;
  color: #FFF;
  z-index: 99;
  position: relative;
  text-align: center;
}

.fullscreen-back{
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  position: absolute;
}

.fullscreen-video{
  top: 0;
  left: 0;
  width: 100%;
}

.videobox{
  position: relative;
  width: 100%;
  display: block;
  z-index: 99;
}

.googledata{
  padding-left: 70px;
}

.leftimage{
  float: left;
  width: 1000px;
}

.textbox{
  float: left;
  width: 33%;
  margin-top: 100px;
  position: absolute;
  left: 900px;
}

.textbox2{
  float: left;
  width: 33%;
  margin-left: 150px;
  z-index: 10;
  position: absolute;
  top: 2080px;
  left: 80px;
}

.header{
  font-family: 'Neo Latina', Arial;
  color: #fff;
  font-size: 150px;
  padding-top: 300px;
}

.header2{
  font-family: 'Neo Latina', Arial;
  font-size: 80px;
  text-align: center;
  color: #e85400;
  margin: 30px 0 80px 0;
}


.orange{
  color: #e85400 !important;
}

.fullwidthimage{
  width: 100%;
  float: left;
  top: 2100px;
  right: 0;
  left: 0;
  z-index: 1;
  position: absolute;
}

.fullwidthimage img{
  width: 100%;
  float: left;
}

.subheader{
  font-family: 'Share Tech', Arial;
  color: #0a286e;
  font-size: 28px;
  padding-bottom: 10px;
}

.text{
  font-family: 'Share Tech', Arial;
  color: #707070;
  font-size: 18px;
}

.textbox3{
  float: left;
  width: 80%;
  z-index: 10;
  position: absolute;
  top: 2980px;
  left: 80px;
}

.quotebox{
  color: #707070;
  position: absolute;
  float: left;
  padding: 300px 250px 0 300px;
  width: 33%;
  font-size: 18px;
}

.quotebox2{
  color: #707070;
  position: absolute;
  float: left;
  padding: 300px 0 0 750px;
  width: 33%;
  font-size: 18px;
}

.bigtext{
  font-family: 'Share Tech', Arial;
  color: #e85400;
  position: absolute;
  float: left;
  padding: 600px 0 0 220px;
  width: 90%;
  font-size: 120px;
}

.quoteimg img{
  width: 100%;
  float: left;
}

footer{
  padding:20px;
  color:#ffffff;
  background-color:#0a286e;
  height: 310px;
  font-family:'Share Tech';
  bottom: 0;
}

.footertext a{
  color: #ffffff
}

.footertext{
  text-align: center;
  padding-top: 10px;
}

.footerpics{
  text-align: center;
}

.copyright{
  text-align: center;
  padding-top: 20px;
}

.buttonbox{
  float: left;
  z-index: 10;
  position: absolute;
  top: 3380px;
  text-align: center;
  left: 48.5%;
}

.buttonbox a{
  text-decoration: none;
}

.button{
  font-family: 'Share Tech', Arial;
  z-index: 200;
  border-radius: 32px;
  color: #ffffff;
  font-size: 24px;
  background: #e85100;
  padding: 20px 40px 20px 40px;
  text-decoration: none;
}

.button:hover{
  background: #ff8400;
  text-decoration: none;
}

.contacttext{
  font-family: 'Share Tech', Arial;
  color: #e85400;
  position: absolute;
  float: left;
  margin-top: 3000px;
  padding: 290px 0 0 46%;
  width: 60%;
  font-size: 44px;
}
